html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  background-color: gray;
}
.pg-image {
  background-image: url("../img/bg_001.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
  height: 75%;

  margin-top: 2rem;
}

.top {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background-image: url("../img/logo_001.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  height: 100%;
  margin-left: 1rem;
}

.nav-bar * {
  display: inline;
  margin-right: 1rem;
  font-size: 0.8vw;
  color: white;
}

.main {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.text-and-buttons {
  margin: 5rem 0 0 1rem;
  width: 23vw;
  height: 60vh;
}
p {
  margin: 2rem 0 3rem 0;
  line-height: 1.4rem;
  font-size: 0.9vw;
}
h1 {
  font-size: 2vw;
}

.learn-more-btn,
.get-app-btn {
  width: 40%;
  height: 2.4rem;
  margin-right: 0.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.12rem;
  color: white;
  font-size: 0.9vw;
}

.learn-more-btn {
  background-color: #17d139;
}

.get-app-btn {
  background-color: #46a1da;
}
.photos {
  margin-top: 3rem;
  position: sticky;
  width: 50%;
}
.photo1 {
  background-image: url("../img/phone_001.png");
  width: 23vw;
  height: 60vh;
  margin-right: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  right: 0;
}

.photo2 {
  background-image: url("../img/phone_002.png");
  width: 23vw;
  height: 60vh;
  margin-right: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  right: -2rem;
  top: 1rem;
  position: absolute;
}

@media screen and (max-width: 790px) {
  .container {
    width: 90vw;
    padding-right: 3rem 0 0 3rem;
  }

  .photos {
    width: 100vw;
  }

  .photo2 {
    right: 4rem;
    top: 2rem;
  }
  .text-and-buttons {
    margin-top: 7rem;
    width: 100vw;
  }
  .top {
    justify-content: stretch;
  }
  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .nav-bar * {
    font-size: 1.5vw;
  }
  h1 {
    font-size: 3vw;
  }
  p {
    font-size: 1.8vw;
  }
  .learn-more-btn,
  .get-app-btn {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 375px) {
  .top,
  .main {
    display: block;
  }
  .main {
    height: 100vh;
  }
  .container {
    width: 100%;
    height: 60%;
    padding: 0;
  }
  .nav-bar {
    width: 95%;
    display: flex;
    justify-content: space-around;
  }
  .nav-bar * {
    font-size: 75%;
    margin: 0 0 0 1rem;
  }
  .text-and-buttons,
  .photos {
    margin: 4rem 0 0 0;
  }
  h1 {
    font-size: 1.5rem;
    margin: 0 3.5rem 0 3.5rem;
  }
  p {
    margin: 2rem;
    font-size: 3.7vw;
  }

  .text-and-buttons {
    text-align: center;
    height: 40%;
  }
  .learn-more-btn,
  .get-app-btn {
    font-size: 3.4vw;
  }
  .photos {
    margin: 0;
    height: 35%;
    width: 100vw;
  }

  .photo1 {
    top: 0;
    margin-right: 35vw;
    height: 30vh;
    width: 80vw;
  }
  .photo2 {
    margin-right: -25vw;
    top: 1rem;
    height: 30vh;
    width: 80vw;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 1.5rem;
    margin: 0 3rem 0 3rem;
  }
  p {
    margin: 1.5rem;
    font-size: 3.7vw;
  }
}
